In [1]:
import pandas as pd
import statistics

In [2]:
first_data=pd.read_csv("C:/Users/Jeremy/Downloads/soc-redditHyperlinks-body.tsv", sep="\t",usecols=[0,1])
second_data=pd.read_csv("C:/Users/Jeremy/Downloads/soc-redditHyperlinks-title.tsv", sep="\t",usecols=[0,1])

In [3]:
data=pd.concat([first_data,second_data],axis=0)
tonum={}
counter=0
for subr in data['SOURCE_SUBREDDIT']:
    if subr not in tonum.keys():
        tonum[subr]=counter
        counter+=1

for subr in data['TARGET_SUBREDDIT']:
    if subr not in tonum.keys():
        tonum[subr]=counter
        counter+=1

data['target']=data['SOURCE_SUBREDDIT'].map(tonum)
data['source']=data['TARGET_SUBREDDIT'].map(tonum)
#swap source and target here to show the spread of information from the target
#or hyperlinked subreddit to the source subreddit

In [4]:
data.head()

  SOURCE_SUBREDDIT TARGET_SUBREDDIT  target  source
0  leagueoflegends  teamredditteams       0    2102
1       theredlion           soccer       1     113
2     inlandempire           bikela       2   20367
3              nfl              cfb       3     612
4       playmygame          gamedev       4     436

In [71]:
data2=data.groupby(['source','target']).size().reset_index()
#use this one for number of occurrences per edge

In [99]:
data3=data2[['source','target']]
#use this one for even probability across all edges
data3['count']=data3.groupby('target')['target'].transform('count')
numE=len(data3)
numV=len(tonum)
data3.loc[-1]=[numV,numE,'']
data3.index=data3.index+1
data3.sort_index(inplace=True)
data3.head()

In [101]:
data3.to_csv("reddit_uniform.csv",sep=' ', header=False, index=False)

In [102]:
numV

67180

In [104]:
data3['count'].describe()

count     339644
unique       307
top            1
freq       30193
Name: count, dtype: int64

In [5]:
data

        SOURCE_SUBREDDIT     TARGET_SUBREDDIT  target  source
0        leagueoflegends      teamredditteams       0    2102
1             theredlion               soccer       1     113
2           inlandempire               bikela       2   20367
3                    nfl                  cfb       3     612
4             playmygame              gamedev       4     436
...                  ...                  ...     ...     ...
571922   seattleshitshow            seattlewa   48817   22198
571923  peoplewhosayheck            spiderman   50602    1312
571924              vzla                  wtf    2130   28063
571925     denverbroncos                  nfl      33       3
571926  shitpoliticssays  politicaldiscussion    2875      25

[858488 rows x 4 columns]

In [ ]:
output['Scrum Lead'] = output['Scrum Lead']==1